.input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.data-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.type-location-container {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.input-radio-container {
  width: 100%;
  max-height: 4;
  display: flex;
  gap: 0.25rem;
  background-color: var(--color-input-base);
  border-radius: 8px;
  border: 2px solid transparent;
  border: 1px solid var(--color-input-stroke);
  padding: 0.25rem;
}

.input-radio-tootle-button-content input,
.input-radio-tootle-button-content input:focus,
.input-radio-tootle-button-content input:hover {
  all: initial;
  position: absolute;
  inset: 0;
  cursor: pointer;
  border-radius: 0.5rem;
}

.input-radio-tootle-button-content {
  position: relative;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-input-base);
  border-radius: 0.5rem;
  padding: 0.83rem 1rem;
  font: var(--font-text-default);
  color: var(--color-text-heading);
}

.input-radio-tootle-button-content:hover {
  background-color: var(--color-shape-button);
}

.input-radio-tootle-button-content:has(:checked) {
  background-color: var(--color-shape-button);
}

.input-radio-tootle-button-content:has(:checked) img {
  filter: var(--filter-brand-light);
}

.input-radio-tootle-button-content > img {
  width: 16px;
}

.input-radio-tootle-button-content > label {
  font-weight: 600;
}

.input-radio-tootle-button-content:hover {
  background-color: var(--color-shape-button);
}
