:root {
  /* Colors */
  --color-brand-light: #59b2ff;
  --color-brand-mid: #3487cf;
  --color-brand-dark: #1d6fb6;

  /* Accent*/
  --color-accent-navy: #6a59ff;
  --color-accent-purple: #b259ff;
  --color-accent-fuschia: #ff59f9;
  --color-accent-pink: #ff598b;
  --color-accent-orange: #ff8b59;
  --color-accent-yellow: #ffcd59;

  --color-accent-lime: #e1ff59;
  --color-accent-green: #59ff91;
  --color-accent-cyan: #59fff9;

  --color-alert-danger: #ff5959;
  /* Input*/
  --color-input-base: #1c1f21;
  --color-input-stroke: #363b40;
  --color-input-placeholder: #869198;

  --color-background: #1e1e1e;
  --color-shape-background: #131516;
  --color-shape-body: #212427;
  --color-shape-button: #2d3136;
  --color-shape-hover: #383d42;

  --color-text-body: #c8cdd0;
  --color-text-heading: #f9f9f9;

  --filter-input-placeholder: invert(60%) sepia(21%) saturate(155%) hue-rotate(160deg) brightness(90%) contrast(93%);

  --filter-brand-light: invert(42%) sepia(91%) saturate(728%) hue-rotate(155deg) brightness(99%) contrast(101%);

  --filter-brand-dark: invert(34%) sepia(12%) saturate(5427%) hue-rotate(177deg) brightness(101%) contrast(90%);

  /* Font */
  --font-family-Leckerli: "Leckerli One", cursive;
  --font-family-Baloo: "Baloo 2", sans-serif;
  --font-family-OpenSans: "Open Sans", sans-serif;

  --font-text-logo: normal 2.5rem var(--font-family-Leckerli);
  --font-text-heading-lg: bold 1.75rem var(--font-family-Baloo);
  --font-text-heading-md: bold 1.125rem var(--font-family-Baloo);

  --font-text-md: 1rem var(--font-family-OpenSans);
  --font-text-sm: 0.875rem var(--font-family-OpenSans);
  --font-text-xsm: 0.75rem var(--font-family-OpenSans);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: var(--font-text-md);
  color: var(--color-text-body);
  background-color: var(--color-shape-background);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font: var(--font-text-heading-lg);
  color: var(--color-text-heading);
}

h2 {
  font: var(--font-text-heading-md);
  color: var(--color-text-heading);
}

input {
  outline: none;
}

label {
  font: var(--font-text-sm);
  color: var(--color-text-body);
  display: block;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
}

.bg-debug1 {
  background-color: #2d3136;
}

.bg-debug2 {
  background-color: #9934cf;
}
