main {
}

.container {
  padding: 1.25rem;
  height: 100vh;
}

.main-container {
  display: grid;
  /* Aside 400px - 820*/
  grid-template-columns: 32.259% 66.13%;
  justify-content: space-evenly;
  align-items: start;

  gap: 1.25rem;
}

.main-content {
  overflow-x: auto;
  height: calc(100vh - 2.25rem);
  background-color: var(--color-shape-body);
  border-radius: 0.75rem;
  padding-block: 5rem;
  padding-inline: 8.125rem;
}

.main-form {
  width: 100%;
  margin-top: 2.5rem;
}
