.container {
  padding: 1.25rem;
}

.main-container {
  display: grid;

  /* Aside 400px - 820*/
  grid-template-columns: 32.259% 66.13%;
  justify-content: space-evenly;
  height: 100vh;
  gap: 1.25rem;
}

.main-content {
  background-color: var(--color-shape-body);
  border-radius: 0.75rem;
  padding-block: 5rem;
  padding-inline: 8.125rem;
}

.main-form {
  margin-top: 2.5rem;
}
