.container {
  padding: 20px;
}
.main-layout {
  display: grid;
  /* Aside 400px - 820*/  
  grid-template-columns: 32.259% 66.13%;
  justify-content: space-evenly;
  height: 100vh;  
  gap: 20px;
}
