.text-logo {
  font: var(--font-text-logo);
  color: var(--color-accent-pink);
}

.text-heading-primary {
  font: var(--font-text-heading-md);
  color: var(--color-text-heading);
}

.text-heading-secondary {
  font: var(--font-text-default);
  color: var(--color-text-heading);
  font-weight: normal;
}

.text-default {
  font: var(--font-text-default);
  color: var(--color-text-body);
}

.divider {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  border: 0;
  border-top: 1px solid var(--color-input-stroke);
}

.color-brand-light {
  background-color: var(--color-brand-light);
}

.color-accent-purple {
  background-color: var(--color-accent-purple);
}

.color-accent-navy {
  background-color: var(--color-accent-navy);
}

.color-accent-fuschia {
  background-color: var(--color-accent-fuschia);
}

.color-accent-pink {
  background-color: var(--color-accent-pink);
}

.color-accent-orange {
  background-color: var(--color-accent-orange);
}

.color-accent-yellow {
  background-color: var(--color-accent-yellow);
}

.color-accent-lime {
  background-color: var(--color-accent-lime);
}

.color-accent-green {
  background-color: var(--color-accent-green);
}

.color-accent-cyan {
  background-color: var(--color-accent-cyan);
}
